<!DOCTYPE html>
<html lang="en">
<head>
  <title>Crossfire Shop Footer HTML CSS Template</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="/css/img/apple-icon.png">
  <link rel="shortcut icon" type="image/x-icon" href="/css/img/favicon.ico">

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/templatemo.css">
  <link rel="stylesheet" href="/css/custom.css">

  <!-- Load fonts style after rendering the layout styles -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
  <link rel="stylesheet" href="/css/fontawesome.min.css">
</head>

<body>
  <!-- Start Footer -->
  <footer class="bg-dark" id="tempaltemo_footer">
    <div class="container">
      <div class="row">

        <div class="col-md-4 pt-5">
          <h2 class="h2 text-success border-bottom pb-3 border-light logo">Crossfire</h2>
          <ul class="list-unstyled text-light footer-link-list">
            <li>
              <i class="fas fa-map-marker-alt fa-fw"></i>
              123 Consectetur at ligula 10660
            </li>
            <li>
              <i class="fa fa-phone fa-fw"></i>
              <a class="text-decoration-none" href="tel:010-020-0340">010-020-0340</a>
            </li>
            <li>
              <i class="fa fa-envelope fa-fw"></i>
              <a class="text-decoration-none" href="mailto:info@company.com">info@company.com</a>
            </li>
          </ul>
        </div>

        <div class="col-md-4 offset-md-4 pt-5">
          <h2 class="h2 text-light border-bottom pb-3 border-light">Products</h2>
          <ul class="list-unstyled text-light footer-link-list">
            <li><a class="text-decoration-none" href="#">Airsoft Guns</a></li>
            <li><a class="text-decoration-none" href="#">Magazine</a></li>
            <li><a class="text-decoration-none" href="#">Tactical Gear</a></li>
            <li><a class="text-decoration-none" href="#">Consumables and Ammo</a></li>
            <li><a class="text-decoration-none" href="#">Internal Parts</a></li>
            <li><a class="text-decoration-none" href="#">Accessories</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer -->

</body>
</html>