<!DOCTYPE html>
<html lang="en">
<head>
    <title>Crossfire Shop</title>
</head>
<body>

    {{>header}}

    <!-- Start Banner Hero -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            {{#restProducts}}
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li> 
            {{/restProducts}}
        </ol>

        <div class="carousel-inner">
            {{#firstProduct}}
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <a href="/shop-single/{{id}}">
                                <img class="img-fluid" src="{{mainImage}}" alt="{{name}}">
                            </a>    
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><b>{{brand}}</b> {{category}}</h1>
                                <h3 class="h2">{{name}}</h3>
                                <p>{{description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/firstProduct}}

            {{#restProducts}}
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <a href="/shop-single/{{id}}">
                                <img class="img-fluid" src="{{mainImage}}" alt="{{name}}">
                            </a>    
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><b>{{brand}}</b> {{category}}</h1>
                                <h3 class="h2">{{name}}</h3>
                                <p>{{description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/restProducts}}
        </div>

        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!-- End Banner Hero -->


    <!-- Start Categories of The Month -->
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Most purchased categories</h1>
                <p>
                    We provided the best products for you.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 p-5 mt-3">
                <<img src="/css/img/TacticalGear.jpg" class="rounded-circle img-fluid border"></a>
                <h5 class="text-center mt-3 mb-3">Tactical Gear</h5>

            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <img src="/css/img/AKR74Tactical.png" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Airsoft Guns</h2>

            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <img src="/css/img/AirsoftSight.jpg" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Accessories</h2>

            </div>
        </div>
        <div>
            <p class="text-center"><a href="/shop" class="btn btn-success">Go Shop</a></p>
        </div>    
    </section>
    <!-- End Categories of The Month -->


    <!-- Start Featured Product -->
    <section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Featured Product</h1>
                <p>
                    Descubre nuestra selección de réplicas de alta precisión, probadas por expertos para garantizar el mejor rendimiento en el campo.
                </p>
            </div>
        </div>
        <div class="row">
            {{#featuredProducts}}
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="/shop-single/{{id}}">
                        <img src="{{mainImage}}" class="card-img-top" alt="{{name}}">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li class="text-muted text-right">{{price}}€</li>
                        </ul>
                        <a href="/shop-single/{{id}}" class="h2 text-decoration-none text-dark">{{name}}</a>
                        <p class="card-text">
                            {{description}}
                        </p>
                        <p class="text-muted">Reviews ({{reviewCount}})</p>
                    </div>
                </div>
            </div>
            {{/featuredProducts}}
        </div>
    </div>
</section>
    <!-- End Featured Product -->

    {{>footer}}
<script src="/css/js/jquery-1.11.0.min.js"></script>
<script src="/css/js/bootstrap.bundle.min.js"></script>
</body>
</html>