<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login - Crossfire Shop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="../static/css/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="../static/css/img/favicon.ico">

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/templatemo.css">
    <link rel="stylesheet" href="../static/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="../static/css/fontawesome.min.css">
</head>

<body>
    {{>header}}

    <!-- Login form -->
    <section class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="card shadow">
                    <div class="card-body p-4">
                        <h3 class="card-title text-center mb-3">Sign in to your account</h3>
                        <form id="loginForm" action="#" method="post">
                            <div class="mb-3">
                                <label for="email" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                            </div>
                            
                            <div class="d-grid mb-3">
                                <button type="submit" class="btn btn-success">Log in</button>
                            </div>
                            <div class="d-grid mb-3">
                                <a href="index.html" class="btn btn-secondary">Back</a>
                            </div>
                            <p class="text-center">Don't have an account? <a href="/user-form">Register</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{>footer}}

    <script>
        document.getElementById('loginForm').addEventListener('submit', function(event) {
            // Evitamos que el formulario se envíe de verdad y recargue la página
            event.preventDefault();

            // Obtenemos los valores de los inputs
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value; // Por si quieres usarla luego

            // Lógica de redirección temporal
            if (email === 'admin@admin') {
                window.location.href = 'admin.html';
            } else{
                window.location.href = 'profile.html';
            }
        });
    </script>

</body>

</html>
