<!DOCTYPE html>
<html lang="en">

<head>
    <title>Crossfire Shop template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/css/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="/css/img/favicon.ico">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/templatemo.css">
    <link rel="stylesheet" href="/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="/css/fontawesome.min.css">
</head>

<body>
    {{>header}}

    <!-- Start Content -->
    <div class="container py-5">
        <div class="row">

            <div class="col-lg-3">
                <h1 class="h2 pb-4">Filter</h1>
                <ul class="list-unstyled templatemo-accordion">
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Product Category
                            <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul class="collapse show list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="#">Airsoft Guns</a></li>
                            <li><a class="text-decoration-none" href="#">Magazines</a></li>
                            <li><a class="text-decoration-none" href="#">Tactical Gear</a></li>
                            <li><a class="text-decoration-none" href="#">Consumables and ammo</a></li>
                            <li><a class="text-decoration-none" href="#">Internal Parts</a></li>
                            <li><a class="text-decoration-none" href="#">Accesories</a></li>

                        </ul>
                    </li>
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Power Source
                            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul id="collapseTwo" class="collapse list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="#">AEG</a></li>
                            <li><a class="text-decoration-none" href="#">GBB</a></li>
                            <li><a class="text-decoration-none" href="#">CO2</a></li>
                            <li><a class="text-decoration-none" href="#">Spring</a></li>
                            <li><a class="text-decoration-none" href="#">HPA</a></li>
                        </ul>
                    </li>
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Color
                            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul id="collapseThree" class="collapse list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="#">Black</a></li>
                            <li><a class="text-decoration-none" href="#">Tan / Coyote / Dark Earth </a></li>
                            <li><a class="text-decoration-none" href="#">OD Green / Ranger Green </a></li>
                            <li><a class="text-decoration-none" href="#">Multicam</a></li>
                            <li><a class="text-decoration-none" href="#">Woodland</a></li>
                        </ul>
                    </li>
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Product
                            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul id="collapseFour" class="collapse list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="#">Tokyo Marui</a></li>
                            <li><a class="text-decoration-none" href="#">G&G Armament</a></li>
                            <li><a class="text-decoration-none" href="#">Specna Arms</a></li>
                            <li><a class="text-decoration-none" href="#">Lancer Tactical</a></li>
                            <li><a class="text-decoration-none" href="#">Cyma</a></li>
                            <li><a class="text-decoration-none" href="#">Umarex</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="col-lg-9">
    <div class="row">
        {{#products}}
        <div class="col-md-4">
            <div class="card mb-4 product-wap rounded-0">
                <div class="card rounded-0">
                    <img class="card-img rounded-0 img-fluid" src="{{mainImage}}" alt="{{name}}">
                    <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                        <ul class="list-unstyled">
                            <li><a class="btn btn-success text-white mt-2" href="/shop-single/{{id}}"><i class="far fa-eye"></i></a></li>
                            <li><a class="btn btn-success text-white mt-2" href="/shop-single/{{id}}"><i class="fas fa-cart-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <a href="/shop-single/{{id}}" class="h3 text-decoration-none">{{name}}</a>
                    
                    <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                        <li class="pt-2">
                            {{#colors}}
                                <span class="product-color-dot float-left rounded-circle ml-1" style="background-color: {{.}};"></span>
                            {{/colors}}
                        </li>
                    </ul>

                    <ul class="list-unstyled d-flex justify-content-center mb-1">
                        <li>
                            <i class="text-warning fa fa-star"></i>
                            <i class="text-warning fa fa-star"></i>
                            <i class="text-warning fa fa-star"></i>
                            <i class="text-muted fa fa-star"></i>
                            <i class="text-muted fa fa-star"></i>
                        </li>
                    </ul>
                    <p class="text-center mb-0">{{price}}€</p>
                </div>
            </div>
        </div>
        {{/products}}
        
        {{^products}}
        <div class="col-12 text-center py-5">
            <h3>No se encontraron productos en el catálogo.</h3>
        </div>
        {{/products}}

    </div>
</div>

    <!-- End Content -->



                    {{>footer}}

                </div>
            </div>
        </div>
    </div>
</body>
</html>